.footer {
    background-color: #222;
    color: #fff;
    padding: 30px 0;
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 0;
    
  }

  .logoFooter {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer__logo{
    
    text-align: center;
    margin-top: 20px;
    padding: 5px;
    position:absolute;
    z-index: 1;
  }
  .footer__logo svg {
    display: block;
    margin: 0 auto;
  }
  
  .footer__logo svg path {
    fill: #fff;
  }

  .footer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;
  }

  .footer__content{
    top: -100%
  }
  
  .footer__contact,
  .footer__navigation,
  .footer__social {
    flex: 1 1 300px;
    margin-bottom: 20px;
  }
  
  .footer h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer__navigation ul,
  .footer__social ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer__navigation ul li,
  .footer__social ul li {
    margin-bottom: 5px;
  }
  
  .footer__navigation ul li a,
  .footer__social ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer__navigation ul li a:hover,
  .footer__social ul li a:hover {
    text-decoration: underline;
  }
  
  .footer__copyright {
    text-align: center;
    margin-top: 20px;
  }
  
  .footer__copyright p {
    margin: 0;
    font-size: 14px;
  }
  
  